---
import BaseLayout from '../layouts/BaseLayout.astro';
import SiteHeader from '../components/SiteHeader.astro';
import Hero from '../components/Hero.astro';
import DemoSection from '../components/DemoSection.astro';
import FeatureGrid from '../components/FeatureGrid.astro';
import HideModes from '../components/HideModes.astro';
import GettingStarted from '../components/GettingStarted.astro';
import SiteFooter from '../components/SiteFooter.astro';
import AuthorCredit from '../components/AuthorCredit.astro';
---

<BaseLayout>
  <SiteHeader />
  <main>
    <Hero />
    <DemoSection />
    <FeatureGrid />
    <HideModes />
    <GettingStarted />
  </main>
  <SiteFooter />
  <AuthorCredit />
</BaseLayout>
